@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sys-font: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --border-edit: 1px;
}

body {
  font-family: var(--sys-font);
}

* {
  touch-action: pan-x pan-y;
  /* touch-action: none; */
}

body.nodrag {
  pointer-events: none;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content-editable {
  outline: none;
  border-radius: 1px;
  transition: box-shadow 200ms linear, border 200ms linear;
  border: var(--border-edit) solid transparent;
}

.content-editable:hover {
  border: var(--border-edit) solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
  transition: none;
}

.content-editable:focus {
  border: var(--border-edit) solid rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
  transition: none;
}

/* PLACEHOLDERS */

.content-editable.show-placeholder:not(:focus)::after {
  pointer-events: none;
  user-select: none;
}

.label-block.content-editable.show-placeholder:not(:focus)::after {
  content: 'Label';
  font-weight: bold;
  position: absolute;
  opacity: .5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist-block.content-editable.show-placeholder:not(:focus)::after {
  content: 'Title';
  position: absolute;
  opacity: .5;
  top: var(--border-edit);
}

.todolist-insert.content-editable.show-placeholder:not(:focus)::after {
  content: 'New task';
  position: absolute;
  opacity: .5;
  top: var(--border-edit);
}