.checker {
  height: 100%;
  width: 100%;
  background-color: wheat;
  /* background: conic-gradient(
    #dcd1ad 90deg,
    #77004f 90deg 180deg,
    #dcd1ad 180deg 270deg,
    #77004f 270deg
  );
  background-repeat: repeat;
  background-size: 150px 150px;
  background-position: top left; */
}
